html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #f5f5f5; */
  background-image: url(images/bg2.jpg);
  background-position: center;
}
.form-title {
}
.logo {
  height: 70px;
  transform: rotate(-35deg);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle {
  border-radius: 0px;
}
.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-floating {
  margin: 10px 0px;
}

.form-control {
  line-height: 1.5;
  height: 3.5rem;
  margin-top: 5px;
}

.btn-primary {
  margin-top: 10px;
}
